.Hero {
    max-width: 576.001px;
    max-height: 576px;
    flex-shrink: 0;
    background-color: #FFC8D0;
}

.hero-text {
    color: #000;

    font-family: Poppins;
    /* font-size: 30px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-text1 {
    color: #000;

    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.myObject {
    transform: translateZ(100px);
    /* Adjust the value to move the object farther or closer */
}

.text {
    color: #000;
    background: #CEE9E7;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 65.625% */


    letter-spacing: -0.32px;
    padding: 5px;
    max-width: 1728px;
    max-height: 99.833px;
    flex-shrink: 0;

}

.WishList-item {
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 75% */
    letter-spacing: -0.32px;
}

.WishList-Cart {
    padding: 20px;
}

.Shorting {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;

}

.Recommend {
    font-family: Poppins;
    /* font-size: 32px; */
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;

}

.low {
    font-family: Poppins;
    /* font-size: 24px; */
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: left;

}