 .profilecard {
     background-image: url('./images/Rectangle 2929.png');
     color: red;
     height: 45%;
     flex-shrink: 0;
     /* font-weight: 900; */


 }

 .card-text {
     padding: 16px;
     font-weight: 900;

 }

 .active {
     color: red;
 }