 .stylebtn {
     display: inline-flex;
     padding: 7px 32px 6px 32px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 26.93px;
     background: #49352E;
     width: 170px;

 }

 .addCart {

     background-color: #49352E;
     padding: 20px;
     width: 100%;
     height: 100%;

 }

 .addCart:hover {
     background-color: rgba(56, 45, 30, 1)
 }

 .stylemebtn {

     display: inline-flex;
     padding: 27px 43px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     letter-spacing: -0.32px;
     border-radius: 50px;
     border: 1px solid #49352E;
     background: #49352E;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }