 .stylebtn {
     display: inline-flex;
     padding: 7px 32px 6px 32px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 26.93px;
     background: #49352E;
     width: 170px;

 }

 .addCart {

     background-color: #49352E;
     padding: 20px;
     width: 100%;
     height: 100%;
     font-weight: 700;

 }

 .addCart:hover {
     background-color: rgba(56, 45, 30, 1)
 }

 .stylemebtn {

     display: inline-flex;
     padding: 27px 43px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     letter-spacing: -0.32px;
     border-radius: 50px;
     border: 1px solid #49352E;
     background: #49352E;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .resetbtn {
     color: #49352E;
     leading-trim: both;
     text-edge: cap;
     font-family: Poppins;
     font-size: 24px;
     font-style: normal;
     font-weight: 600;
     line-height: 21px;
     border: 3px solid #49352E;


 }




 .applyBtn {
     background-color: #49352E;
 }


 .applyBtn:hover {
     background-color: rgba(56, 45, 30, 1)
 }