 .stylebtn {
     display: inline-flex;
     padding: 7px 32px 6px 32px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 26.93px;
     background: #49352E;
     width: 170px;

 }

 .addCart {

     background-color: #49352E;
     padding: 20px;
     width: 100%;

 }

 .addCart:hover {
     background-color: rgba(56, 45, 30, 1)
 }